<mat-card>
  <div class="main-div">
    <h2>{{'forgot.header' | translate}}</h2>
    <div *ngIf="codeWrong">
      {{'forgot.tooOld' | translate}}
    </div>
    <form (ngSubmit)="resetPassword()" *ngIf="!code || !codeWrong" [formGroup]="form" id="forgotForm">
      <mat-form-field *ngIf="!code" appearance="fill">
        <mat-label>{{'forgot.email' | translate}}</mat-label>
        <input autocomplete="email" formControlName="email" matInput placeholder="{{'forgot.email' | translate}}"
               type="email">
      </mat-form-field>

      <mat-form-field *ngIf="code" appearance="fill">
        <mat-label>{{'forgot.password' | translate}}</mat-label>
        <input autocomplete="new-password" formControlName="password" matInput
               placeholder="{{'forgot.password' | translate}}" type="password">
        <mat-icon [matTooltip]="'pageBuilder.passwordDescription' | translate" matSuffix>info</mat-icon>
        <mat-error *ngIf="f.password.errors?.pattern">{{'pageBuilder.passwordWrongFormat' | translate}}</mat-error>
        <mat-error *ngIf="f.password.errors?.required">{{'pageBuilder.requiredField' | translate}}</mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="code" appearance="fill">
        <mat-label>{{'forgot.passwordAgain' | translate}}</mat-label>
        <input autocomplete="new-password" formControlName="passwordAgain" matInput
               placeholder="{{'forgot.passwordAgain' | translate}}" type="password">
        <mat-error *ngIf="f.passwordAgain.errors?.noMatch">{{'pageBuilder.passwordNoMatch' | translate}}</mat-error>
        <mat-error *ngIf="f.passwordAgain.errors?.required">{{'pageBuilder.requiredField' | translate}}</mat-error>
      </mat-form-field>

      <button color="primary" mat-raised-button
              type="submit">{{(code ? 'forgot.reset' : 'forgot.forgot') | translate}}</button>
    </form>

    <div class="back-to-login mt-4">
      <a routerLink="/kirjaudu">{{'forgot.backToLogin' | translate}}</a>
    </div>
  </div>
</mat-card>
