.subscription-info {
  display: flex;
  justify-content: space-between;
}

@media(max-width: 800px) {
  .subscription-info {
    flex-direction: column;

    button {
      display: block;
      width: 100%;
      margin: 5px 0;
    }
  }
}
