<mat-card>
  <h2>Tietosuojaseloste</h2>

  <div>
    <h3>Rekisterinpitäjä</h3>
    <p>Minun.info</p>
    <p>Y-tunnus: 3289993-8</p>
  </div>

  <div class="mt-4">
    <h3>Tietosuojavastaava</h3>
    <p>Minun.info on tämän palvelun kautta kerättyjen henkilötietojen rekisterinpitäjä. Voit ottaa yhteyttä meihin alta löytyvien yhteystietojen avulla.</p>
    <p>
      Minun.info<br />
      Lauri Mukkala<br />
      info@minun.info
    </p>
  </div>

  <div class="mt-4">
    <h3>Rekisterin käyttötarkoitus</h3>
    <p>Kerättäviä henkilötietoja käytetään asiakkaan tunnistautumiseen ja käyttöoikeuksien hallintaan. Rekisteröityneiden käyttäjien tilausten toimittamiseen ja asiakassuhteen ylläpitoon sekä kehittämiseen.</p>
  </div>

  <div class="mt-4">
    <h3>Tietojen keräämisen ja käsittelyn peruste</h3>
    <p>Asiakkaan tietoja kerätään ja käsitellään asiakkaan suostumuksella, tai asiakkaan kanssa tehtävän sopimuksen täytäntöön panemiseksi.</p>
  </div>

  <div class="mt-4">
    <h3>Rekisterin tietosisältö</h3>
    <p>Henkilötiedot ja yhteystiedot, kuten koko nimi, sähköposti, puhelinnumero, yritys ja asema, yrityksen tiedot, asiakassuhteeseen liittyvät tiedot, yhteydenpitohistoria ja verkkosivustokäyttäytyminen ja analytiikka</p>
  </div>

  <div class="mt-4">
    <h3>Tietojen säilytysaika</h3>
    <p>Henkilötiedot säilytetään niin kauan, kun niitä tarvitaan asiakkaan kanssa tehtävän sopimuksen täytäntöönpanemiseksi tai asiakaspalvelun kehittämiseksi.</p>
  </div>

  <div class="mt-4">
    <h3>Säännönmukaiset tietolähteet</h3>
    <p>Rekisteriin kerätään tietoja henkilöltä itseltään. Tietoja kerätään myös Google Analytics –analytiikkatyökalun avulla.</p>
  </div>

  <div class="mt-4">
    <h3>Säännönmukaiset tietojen luovutukset ja tietojen siirto EU:n tai Euroopan talousalueen ulkopuolelle</h3>
    <p>Tietoja ei säännönmukaisesti luovuteta yrityksen ulkopuolelle. Osa yrityksen käyttämistä ulkopuolisista palvelun- tai ohjelmistontarjoajista saattavat säilyttää tietoja EU:n tai Euroopan talousalueen ulkopuolella.</p>
  </div>

  <div class="mt-4">
    <h3>Evästeiden (cookies) käyttö</h3>
    <p>Käytämme sivuillamme ns. cookie-toimintoa eli evästeitä. Eväste on pieni, käyttäjän tietokoneelle lähetettävä ja siellä säilytettävä tekstitiedosto, joka mahdollistaa internet-sivujen ylläpitäjän tunnistamaan usein sivuilla vierailevat kävijät, helpottamaan kävijöiden kirjautumista sivuille
      sekä mahdollistamaan yhdistelmätiedon laatimisen kävijöistä. Tämän palautteen avulla pystymme jatkuvasti parantamaan sivujemme sisältöä. Evästeet eivät vahingoita käyttäjien tietokoneita tai tiedostoja. Käytämme niitä siten, että voimme tarjota asiakkaillemme kunkin yksilöityjen tarpeiden
      mukaisia
      tietoja ja palveluita.
    </p>
    <p>
      Mikäli sivuillamme vieraileva käyttäjä ei halua meidän saavan edellä mainittuja tietoja evästeiden avulla, useimmat selainohjelmat mahdollistavat eväste-toiminnon poiskytkemisen. Tämä tapahtuu yleensä selaimen asetuksien kautta.
      On kuitenkin hyvä ottaa huomioon se, että evästeet voivat olla tarpeellisia joidenkin ylläpitämiemme sivujen ja tarjoamiemme palveluiden asianmukaiselle toimimiselle.</p>
  </div>

  <div class="mt-4">
    <h3>Rekisterin suojaus</h3>
    <p>Tiedot siirretään SSL-suojatun yhteyden ylitse.</p>
    <p>Sähköiset tiedot on suojattu palomuurilla, käyttäjätunnuksin ja salasanoin.</p>
    <p>Tietojen käyttöoikeus on vain niillä rekisterinpitäjän palveluksessa olevilla henkilöillä, jotka tarvitsevat tietoja tehtävissään.</p>
  </div>

  <div class="mt-4">
    <h3>Automaattinen päätöksenteko</h3>
    <p>Automatisoituja yksittäispäätöksiä (EU:n tietosuoja-asetuksen artikla 22) ei tehdä.</p>
  </div>

  <div class="mt-4">
    <h3>Rekisteröidyn oikeudet</h3>
    <p>Rekisteröidyllä on oikeus tarkastaa, mitä häntä koskevia tietoja henkilötietorekisteriin on talletettu. Kirjallinen tarkastuspyyntö tulee lähettää allekirjoitettuna rekisteriasioista vastaavalle henkilölle.</p>
    <p>Tarkastusoikeus on maksuton enintään kerran vuodessa toteutettuna.</p>
    <p>Rekisteröidyllä on oikeus vaatia virheellisten tai vanhentuneiden tietojen oikaisua tai poistamista tai tietojen siirtoa järjestelmästä toiseen. Hänellä on myös oikeus rajoittaa tai vastustaa tietojensa käsittelyä EU:n tietosuoja-asetuksen artiklojen 18 ja 21 mukaisesti.</p>
    <p>Rekisteröidyllä on oikeus peruuttaa aiemmin antamansa suostumus tietojen käsittelylle tai tehdä henkilötietojensa käsittelyyn liittyvistä seikoista valitus valvontaviranomaiselle.</p>
    <p>Rekisteröidyllä on myös oikeus kieltää tietojensa käyttö suoramarkkinointitarkoituksiin.
  </div>
</mat-card>
