<mat-card>
  <h2>Tietosuojaseloste</h2>

  <div>
    <h3>REKISTERINPITÄJÄ</h3>
    <p>
      Minun.info
    </p>
  </div>

  <div>
    <h3>TIETOSUOJAVASTAAVA</h3>
    <p>Minun.info on tämän palvelun kautta kerättyjen henkilötietojen rekisterinpitäjä. Voit ottaa yhteyttä meihin alta löytyvien yhteystietojen avulla.</p>
    <p>
      Minun.info<br/>
      Lauri Mukkala<br/>
      info@minun.info
    </p>
  </div>

  <div>
    <h3>REKISTERIN KÄYTTÖTARKOITUS</h3>
    <p>Minun.infon käyttäjärekisteri.</p>
    <p>Tämä tietosuojatiedote kertoo, miten käsittelemme palveluun syöttämiäsi henkilökohtaisia tietoja, sekä tietoja, joita voimme kerätä sinusta.</p>
    <p>Tämä tietosuojailmoitus koskee kaikkia henkilökohtaisia tietoja, joita Minun.info käsittelee tai Minun.infon puolesta käsitellään.</p>
    <p>Voimme muuttaa tietosuojailmoitusta ajoittain päivittämällä tätä sivua. Kehotamme tarkistamaan tämän tietosuojaselosteen tarvittaessa muutosten varalta.</p>
  </div>

  <div>
    <h3>MIHIN KÄYTÄMME HENKILÖTIETOJASI?</h3>
    <div>
      Käsittelemme henkilötietoja seuraaviin tarkoituksiin:
      <ul>
        <li>Asiakkuuden hoitaminen</li>
        <li>Laskutus</li>
        <li>Tuotteisiin ja palveluihin liittyvät tarkoitukset, kuten tuotteiden ja palveluiden, tai minkä tahansa niiden osa-alueiden hallinta, kehittäminen, tarjoaminen ja markkinointi</li>
        <li>Tuotteiden palveluiden sekä sisäisten prosessien suorituskyvyn suorittaminen ja testaaminen</li>
        <li>Liiketoimintamme ja liikekumppaneidemme toiminnan kehittäminen, johtaminen ja auditointi</li>
        <li>Markkinatutkimus ja -analyysi sekä tilastojen kehittäminen</li>
        <li>Uusien tuotteiden ja palveluiden kehittäminen, sekä nykyisten tuotteiden ja palveluiden kehittäminen</li>
        <li>Oikeuksien ja velvollisuuksien toteuttaminen</li>
      </ul>
    </div>
  </div>

  <div>
    <h3>MILLAISIA HENKILÖTIETOJA KÄSITTELEMME?</h3>
    <div>
      Rekisteri sisältää tietoja:
      <ul>
        <li>Palvelun käyttäjistä</li>
      </ul>
    </div>
    <div>
      Henkilötietoja, joita tarvittaessa käsittelemme:
      <ul>
        <li>Henkilötiedot ja yhteystiedot, kuten koko nimi, sähköposti, puhelinnumero, yritys ja asema, yrityksen tiedot, asiakassuhteeseen liittyvät tiedot</li>
        <li>Yhteydenpitohistoria</li>
        <li>Verkkosivustokäyttäytyminen ja analytiikka</li>
      </ul>
    </div>
  </div>

  <div>
    <h3>MIKÄ ON HENKILÖTIETOJEN LÄHDE?</h3>

    <div>
      Keräämme henkilötietoja seuraavista tietolähteistä:
      <ul>
        <li>Suoraan rekisteröidyltä itseltään</li>
      </ul>
    </div>
  </div>

  <div>
    <h3>MITKÄ OVAT LAILLISET PERUSTEET HENKILÖTIETOJEN KÄSITTELYLLE?</h3>
    <div>
      Henkilötietojen käsittelyn oikeusperusteet ovat:
      <ul>
        <li>Lakisääteiset velvoitteet</li>
        <li>Sopimus; kuten asiakassuhteeseen liittyvät toimet sekä sopimusta edeltävien toimien suorittaminen</li>
        <li>Rekisterinpitäjän oikeutettu etu</li>
      </ul>
    </div>
    <div>
      Oikeutettujen etujemme mukaista on:
      <ul>
        <li>Suorittaa ja / tai testata tuotteidemme, palveluidemme ja sisäisten prosessiemme suorituskykyä</li>
        <li>Liiketoimintamme johtamiseen ja tarkastukseen, kuten kirjanpito</li>
        <li>Markkinatutkimukseen ja -analyysiin sekä tilastojen kehittämiseen</li>
        <li>Markkinoida tuotteitamme ja palveluitamme</li>
      </ul>
    </div>
  </div>

  <div>
    <h3>MITEN JA KOSKA VOIT PERUUTTAA SUOSTUMUKSESI?</h3>
    <p>Kun henkilötietojen käsittelyn oikeusperusteena on suostumus, voit peruuttaa sen milloin tahansa ottamalla yhteyttä meihin. Kohdassa 2 ilmoitettu yhteystiedot. Voit myös poistaa tilisi koska tahansa asetuksista.</p>
  </div>

  <div>
    <h3>KUINKA KAUAN MEILLÄ ON LUPA KÄSITELLÄ HENKILÖTIETOJASI?</h3>
    <p>Käsittelemme ja säilytämme henkilötietoja niin kauan, kun käytät palvelua.</p>
  </div>

  <div>
    <h3>MITKÄ OVAT TIETOSUOJALAKIEN MUKAISET OIKEUTENI?</h3>
    <div>
      Voit ottaa meihin yhteyttä käyttääksesi oikeuttasi:
      <ul>
        <li>Oikeus saada tietoa henkilötietojen käsittelystä</li>
        <li>Oikeus korjata henkilötietosi, jos ne ovat epätarkkoja, ja tarkentaa tiedot</li>
        <li>Oikeus vastustaa henkilötietojen käsittelyä</li>
        <li>Oikeus rajoittaa henkilötietojen käsittelyä</li>
        <li>Oikeus henkilötietojen poistamiseen</li>
        <li>Oikeus pyytää pääsyä henkilötietoihin ja saada tietoa siitä, kuinka käsittelemme niitä</li>
        <li>Oikeus kopioida tai siirtää henkilötietoja</li>
      </ul>
    </div>
  </div>

  <div>
    <h3>EVÄSTEKÄYTÄNTÖ</h3>
    <p>Käytämme verkkosivustollamme evästeitä (cookies). Eväste on pieni tekstitiedosto, jonka selain tallentaa tietokoneellesi, kun käyt tietyillä verkkosivuilla. Käytämme evästeitä helpottamaan sivuston käyttöä sekä analysoimaan evästeiden avulla, millaisesta sisällöstä verkkosivukävijät ovat
      kiinnostuneita. Evästeiden avulla pystymme tarjoamaan sivustokävijöille kiinnostavampaa sisältöä.</p>
    <p>Voit kieltää evästeiden käytön tietokoneellasi selaimen asetuksista. Huomaathan kuitenkin, että jos et ole hyväksynyt evästeiden käyttöä, kaikki verkkosivuston osat eivät välttämättä näy koneellasi.</p>
  </div>
</mat-card>
