<mat-card>
  <h2>Tietosuojaseloste</h2>

  <div>
    <h3>1. REKISTERINPITÄJÄ</h3>
    <p>
      Minun.info
    </p>
  </div>

  <div>
    <h3>2. TIETOSUOJAVASTAAVA</h3>
    <p>Minun.info on tämän verkkosivuston kautta käsiteltyjen henkilötietojen rekisterinpitäjä. Voit ottaa yhteyttä tietosuojavastaavaamme alta löytyvien yhteystietojen avulla.</p>
    <p>
      Minun.info<br/>
      Lauri Mukkala<br/>
      lauri.mukkala@outlook.com
    </p>
  </div>

  <div>
    <h3>3. REKISTERIN KÄYTTÖTARKOITUS</h3>
    <p>Minun.infon asiakas- ja markkinointirekisteri.</p>
    <p>Tämä tietosuojatiedote kertoo, miten käsittelemme meille antamiasi henkilökohtaisia tietoja, sekä tietoja, joita voimme kerätä sinusta. Tämä koskee kaikkia tuotteita ja palveluita, sekä tapauksia, joissa keräämme henkilötietojasi.</p>
    <p>Tämä tietosuojailmoitus koskee kaikkia henkilökohtaisia tietoja, joita Minun.info käsittelee tai Minun.infon puolesta käsitellään.</p>
    <p>Tietosuojatiedotteen muutokset</p>
    <p>Voimme muuttaa tietosuojailmoitusta ajoittain päivittämällä tätä sivua. Kehotamme tarkistamaan tämän tietosuojatiedotteen tarvittaessa muutosten varalta.</p>
  </div>

  <div>
    <h3>4. MIHIN KÄYTÄMME HENKILÖTIETOJASI?</h3>
    <div>
      Käsittelemme henkilötietoja seuraaviin tarkoituksiin:
      <ul>
        <li>Asiakassuhteen ja asiakaspalvelun hoito</li>
        <li>Laskutus</li>
        <li>Tuotteisiin ja palveluihin liittyvät tarkoitukset, kuten tuotteiden ja palveluiden, tai minkä tahansa niiden osa-alueiden hallinta, kehittäminen, tarjoaminen ja markkinointi</li>
        <li>Tuotteiden palveluiden sekä sisäisten prosessien suorituskyvyn suorittaminen ja testaaminen</li>
        <li>Liiketoimintamme ja liikekumppaneidemme toiminnan kehittäminen, johtaminen ja auditointi</li>
        <li>Markkinatutkimus ja -analyysi sekä tilastojen kehittäminen</li>
        <li>Uudelleenmarkkinointi verkkosivukäyttäytymisen perusteella digitaalisilla kanavilla, kuten sosiaalisessa mediassa</li>
        <li>Räätälöityjen sisältöjen tarjoaminen verkkosivustokäyttäytymisen perusteella</li>
        <li>Uusien tuotteiden ja palveluiden kehittäminen, sekä nykyisten tuotteiden ja palveluiden kehittäminen</li>
        <li>Oikeuksien ja velvollisuuksien toteuttaminen</li>
      </ul>
    </div>
  </div>

  <div>
    <h3>5. MILLAISIA HENKILÖTIETOJA KÄSITTELEMME?</h3>
    <div>
      Rekisteri sisältää tietoja:
      <ul>
        <li>Asiakkaista</li>
      </ul>
    </div>
    <div>
      Henkilötietoja, joita tarvittaessa käsittelemme:
      <ul>
        <li>Henkilötiedot ja yhteystiedot, kuten koko nimi, sähköposti, puhelinnumero, yritys ja asema, yrityksen tiedot, asiakassuhteeseen liittyvät tiedot</li>
        <li>Yhteydenpitohistoria</li>
        <li>Verkkosivustokäyttäytyminen ja analytiikka</li>
        <li>Markkinoinnin kohdistaminen ja profilointi</li>
        <li>Markkinointikielto</li>
      </ul>
    </div>
  </div>

  <div>
    <h3>6. MIKÄ ON HENKILÖTIETOJEN LÄHDE?</h3>

    <div>
      Keräämme henkilötietoja seuraavista tietolähteistä:
      <ul>
        <li>Suoraan rekisteröidyltä itseltään asiakassuhteen hoitamiseksi</li>
      </ul>
    </div>
  </div>

  <div>
    <h3>7. MITKÄ OVAT LAILLISET PERUSTEET HENKILÖTIETOJEN KÄSITTELYLLE?</h3>
    <div>
      Henkilötietojen käsittelyn oikeusperusteet ovat:
      <ul>
        <li>Lakisääteiset velvoitteet</li>
        <li>Sopimus; kuten asiakassuhteeseen liittyvät toimet sekä sopimusta edeltävien toimien suorittaminen</li>
        <li>Suostumus; suullisesti, kirjallisesti tai sähköisesti annettu suostumus esimerkiksi liittyessä uutiskirjetilaajaksi</li>
        <li>Rekisterinpitäjän oikeutettu etu</li>
      </ul>
    </div>
    <div>
      Oikeutettujen etujemme mukaista on:
      <ul>
        <li>Suorittaa ja / tai testata tuotteidemme, palveluidemme ja sisäisten prosessiemme suorituskykyä</li>
        <li>Liiketoimintamme johtamiseen ja tarkastukseen, kuten kirjanpito</li>
        <li>Markkinatutkimukseen ja -analyysiin sekä tilastojen kehittämiseen</li>
        <li>Markkinoida tuotteitamme ja palveluitamme</li>
      </ul>
    </div>
  </div>

  <div>
    <h3>8. MITEN JA KOSKA VOIT PERUUTTAA SUOSTUMUKSESI?</h3>
    <p>Kun henkilötietojen käsittelyn oikeusperusteena on suostumus, voit peruuttaa sen milloin tahansa ottamalla yhteyttä meihin. Kohdassa 2 ilmoitettu yhteystiedot.</p>
  </div>

  <div>
    <h3>7. KUINKA KAUAN MEILLÄ ON LUPA KÄSITELLÄ HENKILÖTIETOJASI?</h3>
    <p>Käsittelemme ja säilytämme henkilötietoja ainoastaan niin kauan kuin on tarpeellista henkilötiedon käyttötarkoituksen kannalta. Tarpeettomiksi muuttuneita henkilötietoja, joita meillä ei ole enää perustetta säilyttää eikä käsitellä, poistamme säännöllisin väliajoin.</p>
  </div>

  <div>
    <h3>8. MITKÄ OVAT TIETOSUOJALAKIEN MUKAISET OIKEUTENI?</h3>
    <div>
      Voit ottaa meihin yhteyttä käyttääksesi oikeuttasi:
      <ul>
        <li>Oikeus saada tietoa henkilötietojen käsittelystä</li>
        <li>Oikeus korjata henkilötietosi, jos ne ovat epätarkkoja, ja tarkentaa tiedot</li>
        <li>Oikeus vastustaa henkilötietojen käsittelyä</li>
        <li>Oikeus rajoittaa henkilötietojen käsittelyä</li>
        <li>Oikeus henkilötietojen poistamiseen</li>
        <li>Oikeus pyytää pääsyä henkilötietoihin ja saada tietoa siitä, kuinka käsittelemme niitä</li>
        <li>Oikeus kopioida tai siirtää henkilötietoja</li>
      </ul>
    </div>
  </div>

  <div>
    <h3>9. EVÄSTEKÄYTÄNTÖ</h3>
    <p>Käytämme verkkosivustollamme evästeitä (cookies). Eväste on pieni tekstitiedosto, jonka selain tallentaa tietokoneellesi, kun käyt tietyillä verkkosivuilla. Käytämme evästeitä helpottamaan sivuston käyttöä sekä analysoimaan evästeiden avulla, millaisesta sisällöstä verkkosivukävijät ovat
      kiinnostuneita. Evästeiden avulla pystymme tarjoamaan sivustokävijöille kiinnostavampaa sisältöä.</p>
    <p>Voit kieltää evästeiden käytön tietokoneellasi selaimen asetuksista. Huomaathan kuitenkin, että jos et ole hyväksynyt evästeiden käyttöä, kaikki verkkosivuston osat eivät välttämättä näy koneellasi.</p>
  </div>
</mat-card>
