<ng-container *ngIf="(loadingService.isLoading$ | async) || ccService.isOpen()">
  <div class="spinner-overlay">
    <div class="spinner" *ngIf="(loadingService.isLoading$ | async)">
      <mat-progress-spinner diameter=200 mode="indeterminate"></mat-progress-spinner>
    </div>
  </div>
</ng-container>

<app-navbar *ngIf="!isOnSharePage"></app-navbar>

<div class="wrapper"
     [ngClass]="{'logged-in-wrapper': !isOnSharePage}"
     #wrapper
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50"
     (scrolled)="onScroll()"
     [scrollWindow]="false">
  <div class="container p-1" [ngClass]="{'login-container': isOnLoginPage}">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>
</div>
