<div class="image-selector mb-2">
  <img *ngIf="croppedImage" [src]="croppedImage" alt="imagePreview" class="image-preview">
  <input #hiddenFileInput (change)="imageChanged($event)" accept="image/*" style="display: none" type="file"/>

  <div class="mt-2">
    <button (click)="fetchRandomImage()" [matTooltip]="'imageSelector.newRandom' | translate" class="me-2 mat-elevation-z2" color="primary" mat-mini-fab>
      <mat-icon>refresh</mat-icon>
    </button>

    <button (click)="hiddenFileInput.click()" [matTooltip]="'imageSelector.fromComputer' | translate" class="me-2 mat-elevation-z2" color="primary" mat-mini-fab>
      <mat-icon>camera_alt</mat-icon>
    </button>

    <button (click)="deleteImage()" *ngIf="croppedImage" [matTooltip]="'imageSelector.delete' | translate" class="mat-elevation-z2" color="warn" mat-mini-fab>
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>

<ng-template #imagePickerModal>
  <div class="modal-body">
    <div class="image-cropper-container">
      <image-cropper
          (imageCropped)="imageCropped($event)"
          [imageBase64]="image"
          [imageChangedEvent]="imageChanged"
          [resizeToHeight]="320"
          format="png"
      ></image-cropper>
    </div>
    <div class="mt-2 centered">
      <button (click)="applyCrop()" color="primary" mat-raised-button>{{'miscellaneous.save' | translate}}</button>
    </div>
  </div>
</ng-template>
